<h1>Search Results</h1>
<p><%= facade.result_count %> results</p>

<section id='search-results'>
  <% facade.results.each do |food| %>
    <div class="food-info">
      <p>Placeholder Title</p>
    </div>
</section>
